# your API credentials (The Value DDNS_TOKEN is mandatory. )
DDNS_USER=YourUsername
DDNS_TOKEN=YourSecret

# all variable names must begin with 'DDOMAIN', add as many as you want
DDOMAIN1=your.domain.org

# enable/disable IP version
ENABLE_IPV4=true
# ENABLE_IPV6=true

# Add URL from your prefered API (The variable ‘${domain}’ is mandatory)
APIURL_BASE=https://infomaniak.com/nic/update?hostname=
# APIURL_BASE=https://www.duckdns.org/update?domains=
# APIURL_BASE=https://ydns.io/api/v1/update/?host=
# APIURL_BASE=https://update.dyndns.it/nic/update?hostname=
# APIURL_BASE=https://update.dedyn.io/?hostname=

# select the update repeat, default is 900 (15 min) if disabled
UPDATE_DELAY=3600
