# your YDNS API credentials
YDNS_USER=YourUsername
YDNS_PASSWD=YourSecret


# all variable names must begin with 'DOMAIN', add as many as you want
DOMAIN1=your.domain.org


# enable/disable IP version
ENABLE_IPV4=True
# ENABLE_IPV6=True


# select the update repeat, default 300 if disabled
# UPDATE_DELAY=180
